<%- include('include/_header') %>

<!-- Start Nav Bar -->
<header class="header-one">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container">
                <a class="navbar-brand" href="/"><img src="/img/logo.png" alt=""></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fas fa-bars"></i>
                </button>

                <div class="collapse navbar-collapse main-menu-item "
                id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto text-center">
                        <li class="nav-item">
                            <a class="nav-link" href="/">الرئيسيه</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/products">المنتجات</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/about">تعرف علينا</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/contact">تواصل معنا</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/cart">
                                <i class="fa fa-shopping-cart"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</header>
<!-- End Nav Bar -->

<!-- Start breadcrumb Area -->
<div class="page-area" style="background-image: url(/img/bg.jpg);">
    <div class="breadcrumb-overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="breadcrumb">
                    <div class="section-headline">
                        <h3 class="text-white pt-3">الخدمات</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="breadcrumb-row">
    <div class="container">
        <ul class="list-inline pl-3">
            <li><a href="/" class="active">الرئيسيه</a></li>
            <li><i class="fas fa-chevron-left text-white m-1"></i></li>
            <li><a href="/servCategories">الخدمات</a></li>
        </ul>
    </div>
</div>
<!-- End breadcrumb Area -->

<div class="container mt-5 mb-5">
    <div class="row">
        <% for(var i = 0; i < services.length; i++) { %>
    
            <div class="col-md-6 mb-3">
                <div class="card p-5">
                    <div class="col-md-12 text-center">
                        <img src="/<%= services[i].serviceimage %>" style="width: 200px;height: 200px;">
                        <h3 class="mt-4"><%= services[i].servicename %></h3>
                        <p class="mt-3 mb-3"><%= services[i].servicedescription %></p>
                        <a href="/single-service/<%= services[i].serviceid %>" class="btn mt-3">تفعيل الخدمه</a>
                    </div>
                </div>
            </div>

        <% } %>
    </div>
</div>

<%- include('include/_footer') %>                    